@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

body {
    background-color: darkred;

}

h1 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(211, 190, 190, 0.822);
    font-family: 'Flavors';
    font-size: 40px;
    text-align: center;
}

header {
    background-color: grey;
    width: 100%;
    height: 80px;
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    text-align: center;

}

li {
    font-family: 'Londrina Shadow';
    font-size: 25px;
    color: white;
    margin: 20px;
}


@media (min-width: 600px) and (max-width: 900px) {
    body {
        background-color: hotpink;
    }
   h1 {
        font-size: 32px;
        color: darkred;
    }
    .fasfa-bars {
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 600px) {
    body {
        background-color: greenyellow;
    }
    h1 {
        font-size: 24px;
        color: darkviolet;
    }
    ul {
        display: none;
    }
    .fasfa-bars {
        display: flex;
        justify-content: flex-end;
    }
}

/* estrategia "mobile first" comunmente usada. Primero se da estilo al html de acuerdo al tamaño de pantalla movil y posteriormente con media queries se dan propiedades a pantallas de tamaño tablet y luego de desktop. E.g.:
@media (min-width: 600px) {
    footer { background-color: indianred;
    }
}
*/

